@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


.c1{
    background: url('https://drive.google.com/uc?export=view&id=1uer908RYIcj8nc2UPpxA6TRiYEDE9gYQ') rgba(0, 0, 0, 0.384);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position-y: 20%; */
    /* background-blend-mode: darken; */
    width: fit-content;
}
.copyright p{
    height: 36px;
    width: 667px;
    padding-left: 387px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
   
    


}
.copyright {
    background: #545454;
    height: 66px;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}